<a href="/">Home</a>
<h1>Create New Account</h1>

<form action="/signup" method="post">
    <label>Username</label>
    <input type="text" name="username" required></input>
        <br></br>

    <label>Email</label>
    <input type="text" name="email" pattern="~ /\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\z/i" title="Check your email format e.g. john.smith@gmail.com" required></input>
        <br></br>

    <label>Password</label>
    <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></input>
        <br></br>

    <input type="submit" value="SignUp">
</form>
