<a href="/">Home</a>
<h1>Sign In</h1>

<form action="/login" method="post">
<table>
  <tr>
    <td>
      <label>Email</label>
    </td>
    <td>
      <input type="text" name="email" pattern="~ /\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\z/i" title="Check your email format e.g. john.smith@gmail.com" required></input>
    </td>
</tr>
<tr>
  <td>
    <label>Password</label>
  </td>
  <td>
    <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></input>
      </td>
</tr>
<tr>
  <td></td>
    <td><input type="submit" value="Sign-In"></td>
  </tr>
</table>
</form>


<a href="/signup">Sign Up here!</a>
