<div class="error_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<h2>Add New Product</h2>
<form action="/products" method="post">
  <table>
    <tr>
      <td>
        <label>Product Name</label>
      </td>
      <td>
        <input type="text" name="name" required></input>
      </td>
    </tr>
    <tr>
      <td>
        <label>Product Description</label>
      </td>
      <td>
        <input type="textarea" name="description" required></input>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Create Product">
      </td>
    </tr>
  </table>
</form>
