<h1>Add New Product</h1>

<form action="/products" method="post">
    <label>Product Name</label>
    <input type="text" name="name" required></input>
        <br></br>

    <label>Product Description</label>
    <input type="textarea" name="description" ></input>
        <br></br>

    <input type="submit" value="Create Product">
</form>
