<div class="error_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>
<br></br>
<h2>Edit Product</h2>

<form action="/products/<%= @product.id %>" method="post">
  <table>
    <tr>
      <td>
        <label>Product Name</label>
      </td>
      <td>
        <input type="text" name="name" value="<%= @product.name %>" required></input>
      </td>
    </tr>
    <tr>
      <td>
          <label>Product Description</label>
      </td>
      <td>
        <input type="textarea" name="description" value="<%= @product.description %>" required></input>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Update Product">
      </td>
    </tr>
</table>
</form>
