

<h1>Add New Review</h1>
<h3>Write a new review for product name</h3>
<h3>Product Name : <%= @product.name %></h3>
<br></br>

<form action="/reviews/<%= @product.id %>" method="post">
    <label>Review Title</label>
    <input type="text" name="title" required></input>
        <br></br>

    <label>Review Comment</label>
    <input type="textarea" name="review_comment" required></input>
        <br></br>

    <label>Do You recommend this Product? </label>

      <input type="radio" name="recommend" value="true" checked>Yes</input>
      <input type="radio" name="recommend" value="false">No</input>

        <br></br>

    <label>Rating (1-5)</label>
        <select name="rating" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br></br>

    <input type="submit" value="Create Review">
</form>
