<div class="container">
  <header><img src="images/best-product-review.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Get Better Experience by writing Product Reviews!!</h2>

    <div class="content">
      <p>
        This is the place to find product reviews that are based on subjective opinions and real-life experiences with software products.
      </p>

      <p>
        Create a new Account
        <br></br>
        <a href="/signup">Sign Up</a>
        <br></br>
        OR
        <br></br>
        Already have an Account
        <br></br>
        <a href="/login">Log In</a>
        <br></br>
      </p>

    </div>

    <div class="sidebar">
      <h2>Welcome to Software Product Reviews!</h2>

      <!-- <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul> -->
    </div>


  </div>
</div>
